Raízes/Raizes Apresentação.ipynb
Sistemas Lineares/.ipynb_checkpoints/Sistemas-checkpoint.ipynb
Sistemas Lineares/Sistemas.ipynb
Sistemas Lineares/sistema3.png
Sistemas Lineares/sistema2.png
Sistemas Lineares/sistema1.png
Sistemas Lineares/lei_das_tensoes1.png
Sistemas Lineares/lei_das_tensoes.png
Sistemas Lineares/lei_das_correntes.png
Sistemas Lineares/correntes.png
Sistemas Lineares/circuito.png
Raízes/.ipynb_checkpoints/Raizes Apresentação-checkpoint.ipynb
Raízes/Raízes de Equações.xlsx
Integrais/Exercício_4_11.ipynb
Integrais/Exercício_4_11.pdf
Integrais/paraquedas.png
Integrais/.ipynb_checkpoints/Exercício_4_11-checkpoint.ipynb
Raízes/Untitled.ipynb
Raízes/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Integrais/.ipynb_checkpoints/Soluções de Integrais-checkpoint.ipynb
Interpolação/7CN_Interpolacao_Parte1.ppt
Interpolação/Interpolação.xlsx
Interpolação/7CN_Interpolacao_Parte1.pdf
Interpolação/velocidades.csv
Interpolação/.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
