Raízes/Raizes Apresentação.ipynb
Sistemas Lineares/.ipynb_checkpoints/Sistemas-checkpoint.ipynb
Raízes/.ipynb_checkpoints/Raizes Apresentação-checkpoint.ipynb
Raízes/Raízes de Equações.xlsx
Integrais/Exercício_4_11.ipynb
Integrais/Exercício_4_11.pdf
Integrais/paraquedas.png
Integrais/.ipynb_checkpoints/Exercício_4_11-checkpoint.ipynb
Raízes/Untitled.ipynb
Raízes/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Integrais/.ipynb_checkpoints/Soluções de Integrais-checkpoint.ipynb
Interpolação/7CN_Interpolacao_Parte1.ppt
Interpolação/Interpolação.xlsx
Interpolação/7CN_Interpolacao_Parte1.pdf
Interpolação/velocidades.csv
Interpolação/.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
EDO/SOLUO_NUMRICA_PARA_EDOS.pptx
EDO/circuito.png
EDO/.ipynb_checkpoints/Untitled-checkpoint.ipynb
EDO/Untitled.ipynb
Sistemas Lineares/S.L_MTODOS_ITERATIVOS_E_CONVERGNCIA.pptx
Sistemas Lineares/aula_05_Sistemas__Parte1.ppt

